version: '3.8'

services:
  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379
    restart: always

  backend:
    container_name: backend
    image:  bee1162/bapmate:latest
    expose:
      - 8080
    ports:
      - 8080:8080
    restart: always
    depends_on:
      - redis


